.usersContainer {
    padding: 10px 30px;
    height: 100vh;
    .usersSearchContainer {
        margin: 50px;
        .heading {
            padding: 10px 0px;
        }
        .usersSearch {
            display: flex;
            .searchbar {
                border: 1px solid #eee;
                margin-right: 10px;
                padding: 10px;
                outline: none;
                border-radius: 4px;
                width: 100%;
            }
            .userSubmit {
                border: 1px solid #eee;
                padding: 10px;
                border-radius: 4px;
                background: #2D60A5;
                color: #fff;
                cursor: pointer;
            }
        }
        .typeahedSearchBarContainer {
            margin: 10px 0px;
            max-width: 100%;
            .typeahedSearchBar {
                background: #fff;
                width: 100%;
                border-radius: 5px;
                position: relative;
                box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
                input {
                    height: 55px;
                    width: 100%;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    padding: 0 60px 0 20px;
                    font-size: 18px;
                    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
                }
                .searchbarBox {
                    padding: 0;
                    opacity: 1;
                    max-height: 280px;
                    overflow-y: auto;
                    .searchbarBoxImage {
                        display: flex;
                        align-items: center;
                        img {
                            margin-right: 10px;
                            width: 40px;
                            height: 40px;
                        }
                    }
                    li {
                        list-style: none;
                        padding: 10px 20px;
                        width: 100%;
                        cursor: default;
                        border-radius: 3px;
                        &:hover {
                            background: #efefef;
                        }
                    }
                }
                .searchIcon {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    height: 55px;
                    width: 55px;
                    text-align: center;
                    line-height: 55px;
                    font-size: 40px;
                    color: #644bff;
                    cursor: pointer;
                }
            }
        }
    }
}